@model MyMVCProject.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>Attend Volunteers</p>

<table class="table">
    <tr>
        <th>
            Volunteer First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email Address
        </th>
    </tr>

    @foreach (var item in Model.Assignments)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Email)
            </td>
        </tr>
    }
</table>